img.logo {
    width: 100px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: navy;
}

ul {
    list-style-type: none;
}

ul.toppage {
    display: flex;
}

li { 
    padding: 5px;
}

a {
    text-decoration: none;
    color: orange;
}

body {
    font-family: 'Roboto', sans-serif;
}

img.firstpic {
    width: 200px;
}

img.handlepic {
    height: 100px;
    width: 100px;
}

img.shootingpic {
    height: 100px;
    width: 100px;
}

img.reboundingpic {
    height: 100px;
    width: 100px;
}

img.conditioningpic {
    height: 100px;
    width: 100px
}

.middle {
    display: flex;
    gap: 32px;
    background-color: orange;
    margin-bottom: -19px;
}

h3 {
    text-align: center;
}

.last { 
    background-color: lightgray;
    padding-top: 0%;
}

.signup {
    margin-top: 60px;
    display: flex;
    justify-content: space-around; 
    margin-bottom: 40px;
   
}

.footer { 
    font-size: 13px;
    text-align: center;
    background-color: navy;
    color: white;
    padding-top: 10px;
    margin-bottom: 0%;
    padding-bottom: 0%;
    height: 50px;
}