img.logo {
    width: 100px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: navy;
}

ul {
    list-style-type: none;
}

ul.toppage {
    display: flex;
}

li { 
    padding: 5px;
}

a {
    text-decoration: none;
    color: orange;
}

body {
    font-family: 'Roboto', sans-serif;
}

img.firstpic {
    width: 200px;
}

